@page "/prods/details/{id:int}"

<h3>Product Details</h3>


@if(IsLoading)
{
    <p>wait for loading data</p>
}else if (Product !=null)
{
    <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-0 rounded-4 h-100">
            <img src="/Product/@Product.ImageUrl" class="card-img-top rounded-top-4" alt="@Product.Name" style="height: 250px; object-fit: cover;">
            <div class="card-body text-center">
                <h5 class="card-title fw-bold">@Product.Name</h5>
                <p class="card-text text-success fs-5">$@Product.Price</p>
                <a href="/prods" class="btn btn-outline-primary px-4 rounded-pill">Back To List</a>
            </div>
        </div>
    </div>

}else
{
	<p class="alert alert-danger">Error Occured</p>
}
